@import "tailwindcss";

@font-face {
    font-family: 'zentry-regular';
    src: url(././public/fonts/zentry-regular.woff2) format('woff2');

}

@font-face {
    font-family: 'circularweb-book';
    src: url(././public/fonts/circularweb-book.woff2) format('woff2');

}


@font-face {
    font-family: 'general';
    src: url(././public//fonts/general.woff2)format('woff2');

}

@font-face {
    font-family: 'robert-medium';
    src: url(././public/fonts/robert-medium.woff2)format('woff2');

}

@font-face {
    font-family: 'regular';
    src: url(././public/fonts/robert-regular.woff2) format('woff2');
}







    * {
        font-family: 'regular', sans-serif;
    }

    body {
       background-color: #ebf8ff;
    }

    .--cursor {
        cursor: pointer;
    }

    .--zentryFont {
        font-family: 'zentry-regular', sans-serif;
    }

    .robertFont {
        font-family: 'robert-medium';
    }
    .generalFont{
        font-family: 'general';
    }
